<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      @if (cartItems.length > 0) {
        <table class="table table-bordered cart-table">

          <thead>
            <tr>
              <th scope="col" style="width: 20%;">Product Image</th>
              <th scope="col" style="width: 50%;">Product Detail</th>
              <th scope="col" style="width: 30%;"></th>
            </tr>
          </thead>

          <tbody>
            @for (item of cartItems; track item.id) {
              <tr>
                <td>
                  <img [src]="item.imageUrl" [alt]="'Imagem do produto ' + item.name" class="img-fluid product-image" width="150">
                </td>
                <td>
                  <p class="product-name">{{ item.name }}</p>
                  <p class="product-price">Unit Price: {{ item.unitPrice | currency: 'BRL' }}</p>
                </td>
                <td>
                  <div class="quantity-control mb-3">
                    <label for="quantity-{{item.id}}" class="form-label d-block">Quantity:</label>
                    <div class="input-group input-group-sm">
                      <button (click)="decrementQuantity(item)" class="btn btn-outline-secondary" type="button" aria-label="Decrement Quantity Of {{item.name}}">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                      </button>

                      <input type="text" class="form-control text-center" id="quantity-{{item.id}}"
                             [value]="item.quantity" style="width: 50px;" aria-live="polite"
                             aria-atomic="true" readonly>

                      <button (click)="incrementQuantity(item)" class="btn btn-outline-secondary" type="button" aria-label="Increment Quantity Of {{item.name}}">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>

                  <button (click)="remove(item)" class="btn btn-primary btn-sm mt-2" aria-label="Remover {{item.name}} do carrinho">
                    Remove
                  </button>

                  <p class="mt-3 subtotal-value">
                    Subtotal: {{ item.quantity * item.unitPrice | currency: 'BRL'}}
                  </p>
                </td>
              </tr>
            }
          </tbody>

          <tfoot>
            <tr>
              <td colspan="2" class="text-end"></td>
              <td class="cart-summary">
                <p>Total Quantity: {{ totalQuantity }}</p>
                <p>Shipping: FREE</p>
                <p class="total-price-final">Total Price: {{ totalPrice | currency: 'BRL' }}</p>
              </td>
            </tr>
          </tfoot>

        </table>

      } @else {
        <div class="alert alert-warning text-center" role="alert">
          🛒 Your shopping cart is empty.
        </div>
      }
    </div>
  </div>
</div>
